$bp: 1000px;
$primary-color: #1a2236;
$secondary-color: #dddfe6;
$tertiary-color: #92dcdc;
$quaternary-color: #f9f9fa;
$quinary-color: #7d7c84;
$light-color: #fff;
$focus-color: orange;
$primary-font: poppins, sans-serif;
$secondary-font: playfair display, sans-serif;
