.about {
  padding-top: 17.5vw;
  margin-bottom: 11vw;

  @media (min-width: $bp) {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 11vw;
  }

  .about-text {
    flex: 1 1 50vw;
  }

  h1 {
    padding: 1.25vw 0 0 5vw;
    font-size: 15.625vw;

    @media (min-width: $bp) {
      padding: 1.25vw 0 0 5vw;
      font-size: 7.64vw;
    }
  }

  h2 {
    @media (min-width: $bp) {
      font-size: 1.38vw;
      padding: 3.47vw 0 1.45vw 3.47vw;
    }
  }

  .intro p {
    padding: 2vw 11.11vw 0 5vw;
  }

  .btn {
    margin: 4vw 0 4vw 5vw;

    @media (min-width: $bp) {
      padding: 0 0 0 5vw;
      width: 17vw;
    }

    img {
      width: 7.5vw;
      height: 7.5vw;
      padding: 1.56vw 0 0 3.125vw;
      vertical-align: -1.56vw;

      @media (min-width: $bp) {
        width: 1.7vw;
        height: 1.7vw;
        padding: 0 0 0 1vw;
        vertical-align: -0.5vw;
      }
    }
  }

  .about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: $bp) {
      background-image: url("../assets/img/image_dots_with_teal.svg");
      background-position: 89% 100%;
      background-repeat: no-repeat;
      background-size: 15.41vw 15.41vw;
      flex: 1 1 50vw;
      padding: 0 0 0 11.11vw;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: flex-start;
      justify-content: left;
    }
  }

  .list {
    li {
      @include font-normal($primary-font, $light-color);

      font-size: 5.6vw;
      letter-spacing: -0.0525em;
      padding: 0 0 0 15.625vw;
      color: $light-color;

      @media (min-width: $bp) {
        font-size: 1.39vw;
        letter-spacing: -0.0525em;
        padding: 0 0 0 3.47vw;
      }
    }
  }

  .lang {
    @include about-card(#1c528a, url("../assets/img/hashtag.png"));
  }

  .frame {
    @include about-card(#e2505c, url("../assets/img/Group\ 18.png"));
  }

  .skill {
    @include about-card(#febf52, url("../assets/img/ic_skills.png"));

    @media (min-width: $bp) {
      margin: 0 0 1vw;
    }
  }
}
