input {
  background: none;
  border: none;
  outline: none;
}

.contact-form {
  background: $quaternary-color;
  background-image: url("../assets/img/image_geometry_1.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 34.7vw 23vw;
  margin-top: 15.625vw;
  display: flex;
  flex-direction: column;

  @media (min-width: $bp) {
    background-image:

      url("../assets/img/image-geometry_6.svg"),
      url("../assets/img/image-geometry_7.svg");
    background-position: -5.3vw top, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 24.3vw 18.26vw, 24.3vw 24.3vw;
    margin: 0;
    align-content: center;
    justify-content: center;
    padding: 6vw 0 0;
  }

  h1 {
    padding: 33.125vw 0 0 5vw;
    font-size: 15.625vw;
    align-self: flex-start;

    @media (min-width: $bp) {
      align-self: center;
      font-size: 7.64vw;
      padding: 11.7vw 0 0;
    }
  }

  .intro {
    padding-bottom: 10vw;

    @media (min-width: $bp) {
      align-self: center;
      padding: 0;
      width: 38vw;
    }

    p {
      padding: 0;
      margin: 0;
    }
  }
}

.form-fields {
  display: flex;
  flex-direction: column;
  padding: 0 5vw;

  @media (min-width: $bp) {
    flex-wrap: wrap;
    align-self: center;
    padding: 0;
    width: 37.64vw;
  }
}

.name-email {
  @media (min-width: $bp) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 37.64vw;
  }
}

form {
  @media (min-width: $bp) {
    display: flex;
    flex-direction: column;
    padding: 6vw 0 0;
  }

  .btn {
    margin: 0 0 0 5vw;
    width: 100%;

    @media (min-width: $bp) {
      margin: 0;
      width: 17vw;
      align-self: center;
    }
  }
}

input[type="text"],
input[type="email"] {
  border: none;
  border-radius: 4px;
  padding: 0 0 0 5vw;
  font-size: 4.375vw;
  width: 90%;

  @media (min-width: $bp) {
    padding: 0 0 0 1.39vw;
    font-size: 1.11vw;
    color: #000;
    width: 15vw;
  }
}

textarea {
  border: none;
  border-radius: 4px;
  padding: 5vw;
  font-size: 4.375vw;
  width: 90%;
  outline: none;

  @media (min-width: $bp) {
    padding: 0;
    font-size: 1.11vw;
    width: 36.2vw;
  }
}

.float-textarea {
  height: 35vw;
  background-color: $light-color;
  border: solid 1px $quinary-color;
  border-radius: 4px;
  margin-bottom: 2.5vw;
  padding: 0 2.5vw;
  position: relative;
  outline: none;

  @media (min-width: $bp) {
    height: 9.7vw;
    margin: 0;
    padding: 0.5vw 0 0 1.39vw;
  }

  span {
    visibility: hidden;

    @media (min-width: $bp) {
      visibility: visible;
      font-size: 0.833vw;
      position: relative;
      bottom: 2.5vw;
      left: -1.39vw;
      padding: 0;
      color: $quinary-color;
    }
  }
}

.float-container {
  background-color: $light-color;
  border: solid 1px $quinary-color;
  border-radius: 4px;
  margin-bottom: 2.5vw;
  padding: 0 2.5vw;
  position: relative;
  height: 16.25vw;

  @media (min-width: $bp) {
    margin: 0 0 2.5vw;
    padding: 0;
    height: 4.166vw;
    width: 17.6vw;
  }

  span {
    font-size: 3.125vw;
    color: $quinary-color;
    padding-left: 5vw;

    @media (min-width: $bp) {
      font-size: 0.833vw;
      position: relative;
      bottom: 1.9vw;
      padding: 0;
    }
  }
}

.float-container:focus-within,
.float-textarea:focus-within,
textarea:focus-within {
  background-color: lightcyan;
  transition: 500ms ease-in-out;
  border: none;
  box-shadow: none;
}

textarea:focus-within,
input:focus-within {
  box-shadow: none;
}
